.products,
.dashboard {
  padding: 4.8rem 0px 6.4rem 0px;
  min-height: 9.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  // flex-grow:

  &__title-wrapper {
    margin-bottom: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__grid-2-col {
    display: grid;
    grid-column: 1fr;
    grid-column-gap: 2.4rem;
    grid-row-gap: 2.4rem;
  }

  &__btn-wrapper {
    &--right {
      display: flex;
      justify-content: end;
    }
  }

  .row {
    // max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: $gutter-vertical;
    }

    &::after {
      content: "";
      display: table;
      clear: both;
    }

    [class^="col-"] {
      float: left;
      padding: 1rem;
      &:not(:last-child) {
        margin-right: $gutter-horizontal;
      }
    }

    .col-1-of-2 {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
      width: calc(
        2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
      );
    }

    .col-1-of-4 {
      width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-4 {
      width: calc(
        2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
      );
    }

    .col-3-of-4 {
      width: calc(
        3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
      );
    }
  }
}
