.btn {
    text-align: center;
    text-decoration: none;
    padding: 1.8rem 2.2rem 1.8rem 2.2rem;
    font-weight: 700;
    border-radius: 4.4rem;

    &--primary {
        color: $color-neutral-100;
        background-color: $color-primary;
        // box-shadow: .4rem 1rem 0, $color-btn-shadow;
        font-size: 1.4rem;
        padding: 1.8rem 2.2rem 1.8rem 2.2rem;

        &--large{
            padding: 2rem 3.2rem 2rem 3.2rem;
            font-size: 1.6rem;
        }
                
        &--small{
            padding: 1.2rem 1.8rem 1.2rem 1.8rem;
            font-size: 1.2rem;
        }
    }

    &--secondary {
        font-size: 1.4rem;
        color: $color-neutral-800;
        background-color: $color-primary;
        // box-shadow: .4rem 1rem 0, $color-btn-shadow;

        &--large{
            padding: 2rem 3.2rem 2rem 3.2rem;
            font-size: 1.6rem;
        }
                
        &--small{
            padding: 1.2rem 1.8rem 1.2rem 1.8rem;
            font-size: 1.2rem;
        }
    }
}