/*
0 - 600px 
600 - 900 tablet
900 - 1200 tablet
1200-1800 - desktop
1800+ - large

- phone
- tab-port
-tab-land
-big-desktop

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Inter");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f7f9fc; }

.container-default {
  padding: 0 2.4rem;
  max-width: 10.92rem; }

.mb-32px {
  margin-bottom: 32px; }

.mr-24px {
  margin-right: 24px; }

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #6f7182; }

h1 {
  font-size: 4.2rem;
  color: #0B0E2C; }

h2 {
  font-size: 3.2rem;
  color: #0B0E2C; }

h3 {
  font-size: 2.4rem;
  color: #0B0E2C; }

h4 {
  font-size: 2.2rem;
  color: #0B0E2C; }

h5 {
  font-size: 1.8rem;
  color: #0B0E2C; }

h6 {
  font-size: 1.6rem;
  color: #0B0E2C; }

.display {
  font-size: 7.8rem;
  font-weight: 500;
  color: #0B0E2C; }
  .display--2 {
    font-size: 5.4rem;
    font-weight: 700;
    color: #0B0E2C; }
  .display--3 {
    font-size: 4.4rem;
    font-weight: 700;
    color: #0B0E2C; }
  .display--4 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #0B0E2C; }

.paragraph-large {
  font-size: 1.8rem;
  font-weight: 400; }

p, .paragraph-default {
  font-size: 1.4rem;
  font-weight: 400; }

.paragraph-small {
  font-size: 1.2rem;
  font-weight: 400; }

.text--400 {
  font-size: 1.8rem; }
  .text--400--medium {
    font-weight: 500; }
  .text--400--bold {
    font-weight: 700; }

.text--300 {
  font-size: 1.6rem; }
  .text--300--medium {
    font-weight: 500; }
  .text--300--bold {
    font-weight: 700; }

.text--200 {
  font-size: 1.4rem; }
  .text--200--medium {
    font-weight: 500; }
  .text--200--bold {
    font-weight: 700; }

.text--100 {
  font-size: 1.2rem; }
  .text--100--medium {
    font-weight: 500; }
  .text--100--bold {
    font-weight: 700; }

.text--50 {
  font-size: 1rem; }
  .text--50--medium {
    font-weight: 500; }
  .text--50--bold {
    font-weight: 700; }

.link--wrapper {
  display: inline-block;
  color: #0B0E2C; }

.link--text {
  display: inline-block; }

.btn {
  text-align: center;
  text-decoration: none;
  padding: 1.8rem 2.2rem 1.8rem 2.2rem;
  font-weight: 700;
  border-radius: 4.4rem; }
  .btn--primary {
    color: #ffffff;
    background-color: #1476ff;
    font-size: 1.4rem; }
    .btn--primary--large {
      padding: 2rem 3.2rem 2rem 3.2rem;
      font-size: 1.6rem; }
    .btn--primary--small {
      padding: 1.2rem 1.8rem 1.2rem 1.8rem;
      font-size: 1.2rem; }
  .btn--secondary {
    font-size: 1.4rem;
    color: #0B0E2C;
    background-color: #1476ff; }
    .btn--secondary--large {
      padding: 2rem 3.2rem 2rem 3.2rem;
      font-size: 1.6rem; }
    .btn--secondary--small {
      padding: 1.2rem 1.8rem 1.2rem 1.8rem;
      font-size: 1.2rem; }

.sidebar {
  padding: 0 2.8rem;
  width: 100%;
  height: 100vh;
  max-width: 30rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  background-color: #ffffff;
  z-index: 500;
  overflow: auto; }
  .sidebar--mobile-icon {
    display: none; }

.sidebar-logo-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 0;
  min-height: 7.4rem;
  border-bottom: 1px solid #e9eaf3; }

.sidebar-logo-wrapper {
  margin-right: 24px;
  max-width: 1.7rem;
  position: relative; }

.sidebar-collapse-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: .2rem; }

.sidebar-collapse-icon-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: .2rem;
  min-height: 10px;
  cursor: pointer; }

.sidebar-collapse-icon-bar {
  width: 100%;
  height: 2.5px;
  min-width: 2rem;
  min-height: 2.5px;
  max-height: 2.5px;
  background-color: #0B0E2C;
  border-radius: 9999px; }

.sidebar-nav-menu-list {
  font-size: 1.6rem; }

.sidebar-spacer {
  padding: 0;
  width: 30rem;
  max-width: 30rem; }

.sidebar-mobile-icon {
  display: none; }

.sidebar-nav-menu {
  width: 100%; }

.sidebar-menu-wrapper {
  padding: 2.8rem 0 4rem 0;
  width: 100%; }

.position-relative-1-index-1 {
  position: relative;
  z-index: 1; }

.dropdown-wrapper {
  width: 100%;
  z-index: 500;
  color: #0B0E2C;
  font-size: 26px; }

.dashboard-main {
  display: flex;
  align-items: flex-start;
  width: 100%; }

.dashboard-content {
  max-width: 100%; }

.dashboard-main-content {
  padding: 4.8rem 0 6.4rem 0;
  min-height: 92vh;
  background-color: #6f7182; }

.dashboard-navigation-main-container {
  background-color: #ffffff; }

.dashboard-nav-container {
  display: flex;
  align-items: center;
  padding: 1.4rem 0; }

.dashboard-nav-left-content {
  display: flex;
  align-items: center;
  margin-right: 3.2rem;
  width: 100%; }

.dashboard-nav-right-content {
  display: flex;
  align-items: center;
  margin-left: auto; }
